{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .bold {font-weight: bold}
        .underline {text-decoration: underline}
        .score {font-weight: bold; color: brown; font-size: larger }
        .mb-2 {margin-bottom: 2px}
        .game-title {color: #0d6efd; font-size: medium}
    </style>

    <div class="pb-3 bold game-title" style="text-align: center; color: red">{{error}}</div>
    {% for game in games %}
        {{ include('game/_game.html.twig') }}
    {% endfor %}
{% endblock %}
